log
bin/
out/
*.db
*.iml
.idea/
.DS_Store
*.zip
dist/
build.xml
controlflow.png
lab1.md
lab2.md
lab3.md
lab3-hist.png
lab4.md
lab5.md
lab6.md
merging_internal.png
merging_leaf.png
redist_internal.png
redist_leaf.png
simple_tree.png
splitting_internal.png
splitting_leaf.png